---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <div class="post-preview">
        <a href="{{ post.url | relative_url }}">
          <h2 class="post-title">
            {{ post.title | escape }}
          </h2>
          <h3 class="post-subtitle">
            {{ post.subtitle | escape }}
          </h3>
        </a>
        <p class="post-meta">Posted on {{ post.date | date: '%B %d, %Y' }}</p>

      </div>
    {% endfor %}
  </ul>
</div>
